* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: skyblue;
}

.contenedor-chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.cabecera {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid olivedrab;
  background-color: turquoise;
  flex-shrink: 0;
}

.cabecera img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.info-cabecera {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  color: cornflowerblue;
}

.subtitulo {
  font-size: 13px;
  color: darkblue;
}

.mensajes {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: aliceblue;
}

.mensaje-bot {
  align-self: flex-start;
  background-color: beige;
  color: black;
}

.entrada {
  display: flex;
  padding: 12px;
  border-top: 1px solid burlywood;
  background-color: azure;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.entrada input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid grey;
  min-width: 0;
}
